@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  .outline-red {
    -webkit-text-stroke-width: 3px; /* For Safari/Chrome */
    -webkit-text-stroke-color: red; /* For Safari/Chrome */
    text-stroke-width: 5px; /* For other browsers */
    text-stroke-color: white; /* For other browsers */
  }

  .outline-yellow {
    -webkit-text-stroke-width: 1px; /* For Safari/Chrome */
    -webkit-text-stroke-color: yellow; /* For Safari/Chrome */
    text-stroke-width: 1px; /* For other browsers */
    text-stroke-color: white; /* For other browsers */
  }
  
  .outline-light {
    -webkit-text-stroke-width: 2px; /* For Safari/Chrome */
    -webkit-text-stroke-color: red; /* For Safari/Chrome */
    text-stroke-width: 2px; /* For other browsers */
    text-stroke-color: white; /* For other browsers */
  }

  .outline-white {
    -webkit-text-stroke-width: 3px; /* For Safari/Chrome */
    -webkit-text-stroke-color: white; /* For Safari/Chrome */
    text-stroke-width: 3px; /* For other browsers */
    text-stroke-color: white; /* For other browsers */
  }